@model FiveGroup.Models.schedule

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>schedule</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.doc_id, "doc_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <input id="doc_id" name="doc_id" type="text" class="form-control"/>
                @Html.ValidationMessageFor(model => model.doc_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dep_id, "dep_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="dep_id" name="dep_id" type="text" class="form-control" />
                @Html.ValidationMessageFor(model => model.dep_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hos_id, "hos_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="hos_id" name="hos_id" type="text" class="form-control" />
                @Html.ValidationMessageFor(model => model.hos_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.starttime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="starttime" name="starttime" type="datetime-local" class = "form-control"  value="">
                @Html.ValidationMessageFor(model => model.starttime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.endtime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="endtime" name="endtime" type="datetime-local" class="form-control" value="">
                    @Html.ValidationMessageFor(model => model.endtime, "", new { @class = "text-danger" })
</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.s_display, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.s_display)
                    @Html.ValidationMessageFor(model => model.s_display, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
