@*@model IEnumerable<Hospital.Models.hospital>*@

@model FiveGroup.ViewModel.HospitalLocation
@{
    ViewBag.Title = "醫院管理面板";
}


<link href="~/Content/Assemblestyle sheet 01.css" rel="stylesheet" />


<h1 class="shadow p-3 col-4 offset-4 rounded text-lg-center tc tf"><strong>醫院列表</strong></h1>

<div class="row">
    <div class="col-md-auto">
        <h5 class="alert alert-success tf">@ViewBag.cityname</h5>
    </div>
    <div class="col-md-auto">
        <div class="dropdown dropright tf">
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                選擇縣市
            </button>
            <div class="dropdown-menu tf">
                @foreach (var item in Model.Cities)
                {
                    @Html.ActionLink(item.city_name, "Index", new { cityname = item.c_id }, new { @class = "dropdown-item", @style = "font-size:20px" })
                }
            </div>
        </div>
    </div>
    <p class="col-md-auto ml-auto tf">
        @Html.ActionLink("新增資料", "Create", new { cityname = ViewBag.citynameID }, new { @class = "btn btn-success", @style = "font-size:20px" })
    </p>
</div>


<div class="container col-12 tf">

<table id="tb1" class="table table-striped anotherhover border-light ">
    <thead class="col-12">
        <tr class=" text-center tc2 row ts1 bg1">
            <th class="col-md-2">
                 中文名稱
            </th>


            <th class="col-md-3">
                 英文名稱
            </th>


            <th class="col-md-2">
                地址
            </th>


            <th class="col-md-2">
                聯絡電話
            </th>


            <th class="col-md-1">
                狀態
            </th>


            <th class="col-md-1">
                地區
            </th>


            <th class="col-md-1"></th>



        </tr>
    </thead>

    <tbody class="col-12">
        @foreach (var item in Model.Hospitals)
        {

            <tr class="text-center tc row">
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.hos_name)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.hos_eng_name)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.hos_address)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.hos_phone)
                </td>
                <td class="col-md-1">
                    @if (item.hos_display == false)
                    {
                    <h4><span class="badge badge-secondary">隱藏</span></h4>}
                    else
                    {
                    <h4><span class="badge badge-success">顯示</span></h4>}
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.district.district_name)
                </td>
                <td class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            功能選單
                        </button>
                        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                            <div class="bg-dark text-center btn-lg"> @Html.ActionLink("編輯", "Edit", "Hospitals", new { id = item.hos_id, cityname = item.c_id }, new { @class = "btn btn-info btn-block glyphicon glyphicon-pencil", @style = "form-text" })</div>
                        </div>
                    </div>
                </td>

            </tr>

        }
    </tbody>
</table>
</div>