@model IEnumerable<FiveGroup.Models.doctor>
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/Assemblestyle sheet 01.css" rel="stylesheet" />

<h1 class="shadow p-3 col-4 offset-4 rounded text-lg-center tc tf"><strong>醫師列表</strong></h1>




@using (Html.BeginForm("Index", "Doctor", FormMethod.Get))
{
    <div class="row container col-12">

        <form class="form-row col-12" method="get">
            <div class="input-group flex-wrap form-group col-7">
                <div class="input-group-prepend" style="font-size:20px">
                    <span class="input-group-text flex-fill justify-content-center">依名稱搜尋</span>
                </div>
                <input type="text" name="search" style="font-size:20px" placeholder=" 請輸入名稱..." />

                <div style="padding-right:10px"></div>

                <input class="btn btn-primary" type="submit" name="submit" style="font-size:20px" value="查詢" />
            </div>


            <div class="input-group flex-wrap form-group col-1 offset-4">
                @Html.ActionLink("新增資訊", "Create", null, new { @class = "btn btn-success", @style = "font-size:20px" })
            </div>
        </form>
    </div>
}



<div class="container col-12 tf">

    <table id="tb1" class="table table-striped anotherhover border-light ">
        <thead class="col-12">
            <tr class=" text-center tc2 row ts1 bg1">
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.doc_id)
                </th>


                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.doc_name)
                </th>


                <th class="col-md-5">
                    @Html.DisplayNameFor(model => model.doc_history)
                </th>


                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.doc_display)
                </th>


                <th class="col-md-1"></th>



            </tr>
        </thead>
        <tbody class="col-12">
            @foreach (var item in Model)
            {

                <tr class="text-center tc row">
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.doc_id)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.doc_name)
                    </td>
                    <td class="col-md-5">
                        @Html.DisplayFor(modelItem => item.doc_history)
                    </td>
                    <td class="col-md-3">
                        @if (item.doc_display == false)
                        {
                            <h4><span class="badge badge-secondary">隱藏</span></h4>
                        }
                        else
                        {
                            <h4><span class="badge badge-success">顯示</span></h4>
                        }
                    </td>
                    <td class="col-md-1">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                功能選單
                            </button>
                            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                                <div class="bg-dark text-center btn-lg">@Html.ActionLink("編輯", "Edit", new { id = item.doc_id, Page = Request.QueryString["page"] }, new { @class = "btn btn-info btn-block glyphicon glyphicon-pencil", @style = "form-text" })</div>
                            </div>
                        </div>
                    </td>

                </tr>

            }
        </tbody>
    </table>
</div>