@model FiveGroup.ViewModel.SymptomDepartment

@{
    ViewBag.Title = "新增症狀科別對應";
}


<h2>
    新增症狀科別對應
</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.depSymRef.bodypart.part_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="part_id" name="part_id">
                    @foreach (var a in Model.bodypartList)
                    {
                        <option value="@a.part_id">@a.part_name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.depSymRef.symptom.sym_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="sym_id" name="sym_id">
                    @foreach (var a in Model.symptomList)
                    {
                        <option value="@a.sym_id">@a.sym_name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.depSymRef.department.dep_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="dep_id" name="dep_id">
                    @foreach (var a in Model.departmentList)
                    {
                        <option value="@a.dep_id">@a.dep_name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>
