@model FiveGroup.ViewModel.SymptomDepartment

@{
    ViewBag.Title = "新增症狀科別對應";
}


<link href="~/Content/Assemblestyle sheet 01.css" rel="stylesheet" />

<h1 class="shadow p-3 col-4 offset-4 rounded text-lg-center tc tf"><strong>新增症狀科別對應</strong></h1>


@using (Html.BeginForm())
{

    <div class="container justify-content-center col-6">
        <div class="form-horizontal">
            <hr />

            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center" for="part_id">@Html.DisplayNameFor(model => model.depSymRef.bodypart.part_name)</span>
                </div>
                <select class="custom-select" id="part_id" name="part_id">
                    @foreach (var a in Model.bodypartList)
                    {
                        <option value="@a.part_id">@a.part_name</option>
                    }
                </select>
            </div>

            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center" for="sym_id">@Html.DisplayNameFor(model => model.depSymRef.symptom.sym_name)</span>
                </div>
                <select class="custom-select" id="sym_id" name="sym_id">
                    @foreach (var a in Model.symptomList)
                    {
                        <option value="@a.sym_id">@a.sym_name</option>
                    }
                </select>
            </div>

            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center" for="dep_id">@Html.DisplayNameFor(model => model.depSymRef.department.dep_name)</span>
                </div>
                <select class="custom-select" id="dep_id" name="dep_id">
                    @foreach (var a in Model.departmentList)
                    {
                        <option value="@a.dep_id">@a.dep_name</option>
                    }
                </select>
            </div>


            <br />

            <div class=" justify-content-center col-12 row">
                <div class="">
                    <input type="submit" value="儲存" class="btn btn-success btn-lg tf" style="font-size:20px" />
                </div>
                <br />
                <div class="">
                    @Html.ActionLink("返回前頁", "Index", null, new { @class = "btn btn-primary btn-lg tf", @style = "font-size:20px" })
                </div>
            </div>


        </div>
     </div>
}








            @*<div class="form-horizontal">
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.depSymRef.bodypart.part_name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select id="part_id" name="part_id">
                                    @foreach (var a in Model.bodypartList)
                                    {
                                        <option value="@a.part_id">@a.part_name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.depSymRef.symptom.sym_name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select id="sym_id" name="sym_id">
                                    @foreach (var a in Model.symptomList)
                                    {
                                        <option value="@a.sym_id">@a.sym_name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.depSymRef.department.dep_name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select id="dep_id" name="dep_id">
                                    @foreach (var a in Model.departmentList)
                                    {
                                        <option value="@a.dep_id">@a.dep_name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="儲存" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("返回列表", "Index")
                </div>*@
