@model FiveGroup.Models.ingrediant

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/Assemblestyle sheet 01.css" rel="stylesheet" />

<h1 class="shadow p-3 col-4 offset-4 rounded text-lg-center tc tf"><strong>添加物明細</strong></h1>

<div>
    <hr />

    <div class="container justify-content-around col-12 row tf">
        <div class="card col-3 bg-light" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title"><strong>@Html.DisplayNameFor(model => model.ing_name)</strong></h3>
                <hr />
                <h5 class="card-text text-center">@Html.DisplayFor(model => model.ing_name)</h5>
            </div>
        </div>

        <div class="card col-3 bg-secondary" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title"><strong>@Html.DisplayNameFor(model => model.ing_eng_name)</strong></h3>
                <hr />
                <h5 class="card-text text-center">@Html.DisplayFor(model => model.ing_eng_name)</h5>
            </div>
        </div>

        <div class="card col-3 bg-success" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title"><strong>@Html.DisplayNameFor(model => model.ing_category)</strong></h3>
                <hr />
                <h5 class="card-text text-center">@Html.DisplayFor(model => model.ing_category)</h5>
            </div>
        </div>
    </div>

    <br />

    <div class="container col-12 row justify-content-around tf">

        <div class="card col-5 bg-danger" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title"><strong>@Html.DisplayNameFor(model => model.ing_restricted)</strong></h3>
                <hr />
                <h5 class="card-text text-center">@Html.DisplayFor(model => model.ing_restricted)</h5>
            </div>
        </div>

        <div class="card col-5 bg-warning" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title"><strong>@Html.DisplayNameFor(model => model.ing_limitation)</strong></h3>
                <hr />

                <h5 class="card-text text-center">
                    @Html.DisplayFor(model => model.ing_limitation)
                </h5>
            </div>
        </div>

    </div>

    <br />

    <div class=" justify-content-center col-12 row">
        <p class="">

            @Html.ActionLink("編輯", "Edit", new { id = Model.ing_id }, new { @class = "btn btn-success btn-lg tf", @style = "font-size:20px" })
        </p>
        <br />
        <p class="">
            @Html.ActionLink("返回前頁", "Index", new { Page = Request.QueryString["page"] }, new { @class = "btn btn-primary btn-lg tf", @style = "font-size:20px" })
        </p>
    </div>


</div>
