@model FiveGroup.Models.ingrediant

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/Assemblestyle sheet 01.css" rel="stylesheet" />


<h1 class="shadow p-3 col-4 offset-4 rounded text-lg-center tc tf"><strong>編輯添加物</strong></h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container justify-content-center col-6">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ing_id)


            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center" name="ing_id">@Html.DisplayNameFor(model => model.ing_id)</span>
                </div>
                @Html.EditorFor(model => model.ing_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>


            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center">@Html.DisplayNameFor(model => model.ing_name)</span>
                </div>
                <input name="ing_name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value=@Model.ing_name>
            </div>

            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center">@Html.DisplayNameFor(model => model.ing_eng_name)</span>
                </div>
                <input name="ing_eng_name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value=@Model.ing_eng_name>
            </div>

            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center">@Html.DisplayNameFor(model => model.ing_category)</span>
                </div>
                <input name="ing_category" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="@Model.ing_category">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text tw justify-content-center">@Html.DisplayNameFor(model => model.ing_restricted)</span>
                </div>
                <textarea class="form-control" name="ing_restricted" aria-label="With textarea">@Model.ing_restricted</textarea>
            </div>

            <br />

            <div class="input-group">
                <div class="input-group-prepend">

                    @*@if (modelItem => item.ing_limitation == null)
                        {
                            <span class="input-group-text tw justify-content-center">No Data</span>}
                        else
                        {
                            <span class="input-group-text tw justify-content-center">@Html.DisplayNameFor(model => model.ing_limitation)</span>}*@

                    <span class="input-group-text tw justify-content-center">@Html.DisplayNameFor(model => model.ing_limitation)</span>
                </div>
                <textarea class="form-control" name="ing_limitation" id="tx1" aria-label="With textarea">@Model.ing_limitation</textarea>
            </div>

            <br />

            <div class=" justify-content-center col-12 row">
                <p class="">
                    <input type="submit" value="儲存" class="btn btn-success btn-lg tf" style="font-size:20px" />
                </p>
                <br />
                <p class="">
                    @Html.ActionLink("返回前頁", "Index", null, new { @class = "btn btn-primary btn-lg tf", @style = "font-size:20px" })
                </p>
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    //var value= $('#tx1').val()

    //if (value = null) {
    //    //$("tx1").add("No data");
    //    alert("No data");
    //}



</script>
