<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 第五組 </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Assemblestyle sheet 01.css" rel="stylesheet" />
</head>
<body class="bg">
    @*<div class="navbar navbar-inverse navbar-fixed-top d">
            <div class="container">
                <div class="">
                    <div class="">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand ", @style = "font-size:36px" })

                    </div>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            功能選單
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            @Html.ActionLink("公告", "Index", "Announcement", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("時間表", "Index", "Schedule", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("醫院", "Index", "Hospitals", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("醫師", "Index", "Doctor", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("添加物", "Index", "Ingrediants", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("症狀科別對應", "Index", "SymptomDepartment", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("問題回報", "Index", "Feedback", null, new { @class = "dropdown-item" })
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    @if (Session["account"] != null)
    {
    <nav class="navbar navbar-expand-lg navbar-dark bg-info col-12 container justify-content-center">
        @*<div class="navbar-brand"><strong>@Html.ActionLink("首頁", "index", "Home", null, new { @class = "text-light tf", @style = "font-size:30px" })</strong></div>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-11" id="navbarNav">
            <ul class="navbar-nav col-8 offset-2 justify-content-center">
                <li class="nav-item">
                    <div class="nav-link" style="padding-left:30px"><strong>@Html.ActionLink("公告", "Index", "Announcement", null, new { @class = "text-light tf", @style = "font-size:30px" })</strong></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" style="padding-left:30px"><strong>@Html.ActionLink("時間表", "Index", "Schedule", null, new { @class = "text-light tf", @style = "font-size:30px" })</strong></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" style="padding-left:30px"><strong>@Html.ActionLink("醫院", "Index", "Hospitals", null, new { @class = "text-light tf", @style = "font-size:30px" })</strong></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" style="padding-left:30px"><strong>@Html.ActionLink("醫師", "Index", "Doctor", null, new { @class = "text-light tf", @style = "font-size:30px" })</strong></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" style="padding-left:30px"><strong>@Html.ActionLink("添加物", "Index", "Ingrediants", null, new { @class = "text-light tf", @style = "font-size:30px" })</strong></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" style="padding-left:30px"><strong>@Html.ActionLink("症狀科別對應", "Index", "SymptomDepartment", null, new { @class = "text-light tf", @style = "font-size:30px" })</strong></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" style="padding-left:30px"><strong>@Html.ActionLink("問題回報", "Index", "Feedback", null, new { @class = "text-light tf", @style = "font-size:30px" })</strong></div>
                </li>
                @*<li class="nav-item" style="padding-left:250px"></li>*@
            </ul>
        </div>
        <div class="navbar-brand disabled"><strong><a href="#" class="disabled">@Session["ADM"] 已登入</a></strong></div>
        <div class="navbar-brand"><strong>@Html.ActionLink("登出", "Logout", "Home", null, new { @class = "text-light tf", @style = "font-size:20px" })</strong></div>
</nav>
    }






        <div class="container body-content col-11 p-5">
            @RenderBody()
            <hr />
            <footer class="bg-dark footer-content mb-0">
                <h5 class="ftc float-lg-right">&copy; @DateTime.Now.Year - 版權所有  FiveGroup </h5>
            </footer>
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/umd/popper.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </body>
</html>